body {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

h1 {
	text-align: center;
}

#map-canvas {
	height: 600px;
	margin-bottom: 30px;
}

form, #resultados {
	margin: 0 20px;
}

form div {
	margin-bottom: 10px;
}

#resultados {
	margin-top: 20px;
	border-top: 1px solid black;
	padding-top: 0px;
}

#resultados p {
	margin: 10px 0;
}

span {
	font-weight: bold;
}