/*-------- ALL ---------*/

  body {
    font-size: 18px;
  }

/*--------- FIM ALL ------------*/

/*----------- MAP STYLES ----------*/

  .map-container {
    margin: 0;
    position: fixed;
    left: 25%;
    top: 3ex;
    bottom: 3ex;
    border-left: 1px solid black;
  }

  #map-canvas {
    height: 100%;
    margin-bottom: 30px;
  }

/*----------- FIM MAP STYLES -----------*/

/*------- SIDE BAR STYLES -------*/

  /*TITULO*/
  h1 {
    text-align: center;
  }

  /*FORM E RESULTADO*/

  form, #resultados {
    margin: 0 20px;
  }

  form div {
    margin-bottom: 10px;
  }

  #resultados {
    margin-top: 20px;
    border-top: 1px solid black;
    padding-top: 0px;
  }

  #resultados p {
    margin: 10px 0;
  }

  span {
    font-weight: bold;
  }

/*--------- FIM SIDE BAR STYLES -----------*/